---
import type { ImageMetadata } from "astro";
import CharPlotIcon from "../../assets/icons/charplot.svg";
import DesktopIcon from "../../assets/icons/desktop.svg";
import MobileIcon from "../../assets/icons/mobile.svg";
import AffiliateIcon from "../../assets/icons/affiliate.svg";
import ChevronsUp from "../../assets/icons/chevrons-up.svg";
interface Props {
  title: string;
  description?: string;
  img?: ImageMetadata;
  src?: string;
  alt?: string;
  icon?: "data" | "desktop" | "mobile" | "ai";
}

const { title, description = "", img = null, src = "", alt = "", icon="" } = Astro.props;

const icons = {
  data: CharPlotIcon,
  desktop: DesktopIcon,
  mobile: MobileIcon,
  ai: AffiliateIcon,
};

const IconComponent = icon ? icons[icon] : null;
---

<article>
  <img src={img?.src || src} {alt} class="background" />
  {IconComponent &&  <IconComponent width={50} height={50} class="service-icon" />}
  <h3>{title}</h3>

  <p>{description}</p>
  <ChevronsUp width={32} height={32} class={"look-more"}/>

</article>

<style>
  article{
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: var(--space-2);
    justify-items: center;
    color: var(--bg-accent-light);
    border-radius: var(--border-radius-md);
  }  

  /* image gradient */
  article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      #0065ad 60%,
      var(--secondary-color)
    );
    opacity: 15%;
    z-index: 1;
  }
  

  .service-icon{
    align-self: end;
    color: var(--primary-color);
  }

  h3 {
    font-size: var(--font-size-2xl);
    text-align: center;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
    filter: brightness(0.4) blur(2px);
  
    transition: filter 0.3s ease-in-out;
  }

  p{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--space-8) var(--space-4);
    background-color: var(--secondary-color);
    color: var(--bg-accent-light);
    text-align: center;
    translate: 0 100%;
    transition: translate 0.3s ease-in-out, display 0.4s allow-discrete;
  }



  .look-more{
    position: absolute;
    bottom: var(--space-4);
    color: var(--primary-color);
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    animation: float 5s ease-in-out infinite;

  }

  article:hover p{
    display: block;
    translate: 0 0;
    transition: translate 0.3s ease-in-out, display 0.4s allow-discrete;

    @starting-style {
      translate: 0 100%;
    }
  }

  article:hover .look-more{
    bottom: -100%;
    opacity: 0;
    animation-play-state: paused;
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;

    @starting-style {
      bottom: var(--space-4);
      opacity: 1;
    }

  }

  @keyframes float{
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0);
    }
  }

  
</style>
