:root {
  color-scheme: light dark;

  /* Color Variables */
  --bg-color-light: #fcffff;
  --bg-color-dark: #001a1a;
  --bg-color: light-dark(var(--bg-color-light), var(--bg-color-dark));

  --bg-accent-light: #ecf9fa;
  --bg-accent-dark: #043636;
  --bg-accent-color: light-dark(var(--bg-accent-light), var(--bg-accent-dark));

  --bg-hover-light: #cad4d5;
  --bg-hover-dark: #022424;
  --bg-hover-color: light-dark(var(--bg-hover-light), var(--bg-hover-dark));

  --text-color-light: #043636;
  --text-color-dark: #ffffff;
  --text-color: light-dark(var(--text-color-light), var(--text-color-dark));

  --primary-color: #3fb5b5;
  --primary-hover-color: #43d2d2;

  /* Spancing */
  --space-unit: 4px;
  --spcae-1-2: calc(var(--space-unit) * 0.5);
  --space-1: calc(var(--space-unit) * 1);
  --space-2: calc(var(--space-unit) * 2);
  --space-3: calc(var(--space-unit) * 3);
  --space-4: calc(var(--space-unit) * 4);
  --space-5: calc(var(--space-unit) * 5);
  --space-6: calc(var(--space-unit) * 6);
  --space-7: calc(var(--space-unit) * 7);
  --space-8: calc(var(--space-unit) * 8);
  --space-9: calc(var(--space-unit) * 9);
  --space-10: calc(var(--space-unit) * 10);

  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */

  /* Brakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  /* Misc */
  --max-width: 1200px;

  /* Border-radius */
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 48px;
  --border-radius-full: 9999px;
  --border-radius-none: 0;

  /* Animations */
  --transition-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius-sm);
  padding: var(--space-2) var(--space-4);
  cursor: pointer;
  transition: background-color var(--transition-duration);

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 12px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-sm);
  padding: var(--space-2) var(--space-4);
  transition: border-color var(--transition-duration);

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }

  &.accent-bg {
    background-color: var(--bg-accent-color);
  }
}

li {
  list-style: none;
}
