---
import Layout from "../Layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Services from "../sections/Services.astro";
---

<Layout>
  <section>
    <button>Hola</button>
    <input type="text" />
    <textarea name="" id=""></textarea>
    <select name="" id="">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </section>
  <Hero />
  <Services />
</Layout>

<style>
  section {
    background-color: var(--bg-accent-color);
    padding: var(--spapce-9);
  }
</style>
