---
import TeamPicture from "../assets/team.jpg";
---

<section id="nosotros">
  <picture>
    <img src={TeamPicture.src} alt="Team Picture" />
  </picture>
  <div>
    <h2 class="underline gothic">
      <span>Nosotros</span>
    </h2>
    <p>
      Somos una empresa especializada en el desarollo de software, inteligencia
      artificial y analisis de datos.
    </p>
  </div>
</section>

<style>
  section {
    max-width: var(--breakpoint-2xl);
    margin-inline: auto;
    position: relative;
    overflow-x: hidden;
    /* overflow-y: visible; */
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 1rem;
  }

  picture {
    flex: 1 0 40%;
  }

  picture img {
    max-height: 700px;
    min-width: 200px;
    width: 100%;
    border-radius: 0px 8px 8px 0px;
    object-fit: cover;
  }

  div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-4);
  }

  div * {;
    text-align: right;
  }

  div h2 {
    font-size: var(--font-size-6xl);
    margin-bottom: 2rem;
  }

  div p {
    max-width: 400px;
    font-size: var(--font-size-4xl);
    color: var(--text-secondary-color);
    padding-bottom: 1rem;
  }

  section::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-accent-color);
    border-radius: 50%;
    z-index: -1;
    translate: 30% -50%;
  }

  @media screen and (width < 640px) {
    section {
      overflow-x: clip;
      overflow-y: visible;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr;
      gap: 1rem;
    }

  
    section::after {
      width: 200%;
      top: 5%;
      right: 50%;
      translate: 50% 0%;
    }

    picture{
      grid-row: 2;
    }

    picture, picture img {
      height: 100%;
      max-height: 500px;
      border-radius: 8px;
    }

    div{
      align-self: self-start;
      align-items: center;
    }

    div * {
      text-align: center;
    }


    div p {
      max-width: 500px;

    }
  }
</style>
