<forms class="forms">
  <section class="contact-section">
    <div class="contact-container">
      <div class="contact-left">
        <h1>Transforma tu negocio ahora</h1>
        <span>
          Contacta con nosotros para encontrar la mejor solución a tu problema
        </span>
      </div>
      <div class="contact-right">
        <form>
          <input type="text" placeholder="Nombre" required />
          <input type="email" placeholder="Correo" required />
          <input type="text" placeholder="Empresa" required />
          <textarea placeholder="Describe tu problema" rows="6" required
          ></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </section>
</forms>

<style>
  .contact-section {
    background: light-dark(--bg-color-light, --bg-color-dark);
    padding: var(--space-8) var(--space-6);
    margin-block: var(--space-8);
  }

  .contact-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-left: 4px solid #00a2a2;
    padding-left: 40px;
  }

  .contact-left {
    flex: 1;
    padding-right: 20px;
  }

  .contact-left h1 {
    font-size: clamp(var(--font-size-xl), 8vw, var(--font-size-5xl));
    color: var(--text-color);
    margin-bottom: var(--space-4);
  }

  .contact-left span {
    display: block;
    font-size: clamp(var(--font-size-base), 4vw, var(--font-size-lg));
    font-weight: normal;
    color: var(--text-color);
  }

  .contact-right {
    flex: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input,
  textarea {
    padding: 12px;
    font-size: 16px;
  }

  textarea {
    resize: vertical;
  }

  .contact-right button {
    padding: 12px;
    font-size: 16px;
  }

  @media screen and (width<= 640px) {
    .contact-container {
      flex-direction: column;
      padding-left: 0;
      border-left: none;
    }

    .contact-left,
    .contact-right {
      width: 100%;
    }

    .contact-left * {
      text-align: center;
    }
  }
</style>
